html,
body {
    margin: 0;
    height: 100%;
}

main {
    background-image: url('/assets/background.png');
    display: flex;
    padding: 0 30px;
}

.container {
    background-color: #fff;
    border-radius: 1rem;
    margin: 3rem 0;
    padding: 3rem;
    text-align: center;
}

h1,
p {
    font-family: 'Helvetica Neue', sans-serif;
    color: #525B65;
}

.btn.btn-primary {
    background-color: #A1B1C9;
    border: 1px solid var(--theme-primary, #A1B1C9);
}

.btn.btn-primary:hover,
.btn.btn-primary:focus {
    background-color: #93a2b9;
    border: 1px solid var(--theme-primary, #93a2b9);
}

.btn.btn-primary:active,
.btn.btn-primary:focus-visible {
    background-color: #93a2b9;
    border: 1px solid var(--theme-primary, #93a2b9);
}